import { render, screen } from "@testing-library/react";
import { test, expect } from "vitest";

import App from "./app.tsx";

test("renders the app heading", () => {
  render(<App />);
  expect(screen.getByRole("heading", { level: 1 })).toBeTruthy();
});
